* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, Sans-serif;
}

:root {
    --primary-color: darkblue;
    --border-style: 1px solid;
    --spacing-medium: 1rem;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

nav a {
    display: block;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    align-items: start;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

/*my picture */
main img {
    width: 130px;
    height: auto;
    border: var(--border-style) black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: var(--spacing-medium);
    border: var(--border-style) rgb(0 0 0 / 0.2);
    padding: var(--spacing-medium);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 80px;
}

footer {
    margin-top: 15px;
    border-top: var(--border-style) #000;
    text-align: center;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}