* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #004080;
    --secondary-color: #e0e0e0;
    --accent-color: #ffcc00;
    --text-color: #333;
    --heading-font: 'Georgia', serif;
    --body-font: 'Arial', sans-serif;
    --max-width: 1200px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    float: right; /* This will make the image float to the right */
    marging: 0 0 1rem 1rem; /* This will add space so the text won't touch the image */
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

p {
    color: var(--text-color);
    font-family: var(--body-font);
}

head {
    background-color: var(--primary-color);
}
/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #e0e0e0;
  color: #333;
}

